.cf:before, .header:before, .about:before, .about__socialMedia:before, .middle:before, .contact:before,
.cf:after,
.header:after,
.about:after,
.about__socialMedia:after,
.middle:after,
.contact:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .header:after, .about:after, .about__socialMedia:after, .middle:after, .contact:after {
  clear: both; }

body {
  font-family: 'Raleway', sans-serif;
  color: #222; }

p {
  line-height: 1.7;
  font-style: oblique;
  font-family: serif; }

h1 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 18px; }

a {
  text-decoration: none;
  color: white; }

section {
  position: relative;
  background-color: #efefef;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px; }

.bold {
  font-weight: bold; }

.light {
  font-weight: lighter; }

.header {
  padding: 1% 3%;
  padding-bottom: 0;
  background-image: url(../img/A2.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (max-width: 950px) {
    .header {
      padding-bottom: 50px; } }
  .header__toggleButton {
    position: relative;
    float: right;
    height: 40px;
    width: 100px;
    margin-right: 10px;
    font-family: sans-serif;
    cursor: pointer; }
    .header__toggleButton p {
      width: 49%;
      float: left;
      font-style: normal;
      font-family: sans-serif; }
  .header__burger {
    display: block;
    width: 25%;
    height: 2px;
    margin: 2px;
    background: black;
    float: right;
    margin-right: 14px; }
    .header__burger:nth-child(2) {
      margin-top: 7px; }
  .header__list {
    width: 100px;
    position: absolute;
    right: 28px;
    top: 65px;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.15);
    padding-left: 0;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s; }
    .header__list::before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%) rotate(45deg);
      transform: translate(-50%) rotate(45deg);
      top: -14px;
      border-top: 1px solid rgba(17, 17, 17, 0.15);
      border-left: 1px solid rgba(17, 17, 17, 0.15);
      background: #e3e3e3; }
  .header li {
    text-decoration: none;
    display: block;
    padding: 11px 0;
    background-color: #e3e3e3;
    overflow: hidden;
    border-bottom: 1px solid rgba(17, 17, 17, 0.15); }
    .header li:hover {
      background: #dbdbdb; }
  .header a {
    color: black;
    font-size: 12px;
    background-color: transparent;
    text-decoration: none; }
  .header__box {
    float: left;
    width: 50%;
    padding-top: 6%;
    z-index: 10; }
    @media (max-width: 950px) {
      .header__box:nth-child(4) {
        display: none; }
      .header__box:nth-child(3) {
        float: right;
        text-align: right; } }
  @media (max-width: 950px) and (max-width: 850px) {
    .header__box:nth-child(3) {
      width: 100%;
      text-align: center; } }

    .header__box p {
      padding-right: 26%;
      margin-bottom: 10%; }
      @media (max-width: 950px) {
        .header__box p {
          padding: 0;
          margin: 0; } }
      .header__box p::after {
        content: "";
        margin-top: 6%;
        display: block;
        width: 1px;
        height: 70px;
        background-color: #111; }
        @media (max-width: 990px) {
          .header__box p::after {
            display: none; } }
    .header__box h1 {
      padding-top: 9%; }
      @media (max-width: 850px) {
        .header__box h1 {
          padding-top: 0; } }
    .header__box img {
      width: 100%;
      margin-bottom: -4px; }
  .header .open {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s; }

.about {
  padding: 6% 3%;
  background-image: url(../img/P.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  .about__box {
    width: 50%;
    float: left; }
    .about__box:nth-child(1) {
      width: 40%; }
      @media (max-width: 850px) {
        .about__box:nth-child(1) {
          display: none; } }
    .about__box:nth-child(2) {
      padding-left: 46px; }
      @media (max-width: 900px) {
        .about__box:nth-child(2) {
          text-align: right; } }
      @media (max-width: 850px) {
        .about__box:nth-child(2) {
          width: 100%;
          text-align: center;
          padding-left: 0; } }
      @media (max-width: 442px) {
        .about__box:nth-child(2) {
          margin-bottom: 13px; } }
  .about img {
    width: 95%; }
  .about h1::before {
    content: "";
    margin-bottom: 2%;
    margin-right: 4%;
    display: inline-block;
    width: 70px;
    height: 1px;
    background-color: #111; }
    @media (max-width: 1080px) {
      .about h1::before {
        display: none; } }
  .about__socialMedia {
    margin: auto; }
    @media (max-width: 850px) {
      .about__socialMedia {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        bottom: 0; } }
  .about__socialMediaItem {
    position: relative;
    display: block;
    text-align: center;
    width: 4%;
    padding: 15px;
    float: left;
    margin: 10px;
    background-color: #909090;
    cursor: pointer; }
    .about__socialMediaItem:hover {
      background-color: black; }
    @media (max-width: 442px) {
      .about__socialMediaItem {
        margin: 5px;
        padding: 12px; } }
    .about__socialMediaItem i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.middle {
  padding: 10% 3%;
  background-image: url(../img/L.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  .middle__box {
    width: 50%;
    float: left; }
    @media (max-width: 860px) {
      .middle__box {
        width: 100%;
        text-align: center; } }
    @media (max-width: 860px) {
      .middle__box:nth-child(2) {
        display: none; } }
  .middle img {
    width: 100%; }
  .middle p {
    padding-right: 35%; }
    @media (max-width: 860px) {
      .middle p {
        padding-right: 0; } }
    .middle p::after {
      content: "";
      margin-top: 6%;
      display: block;
      width: 1px;
      height: 70px;
      background-color: #111; }
      @media (max-width: 860px) {
        .middle p::after {
          display: none; } }

.contact {
  padding: 6% 10%;
  background-image: url(../img/O.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center; }
  @media (max-width: 850px) {
    .contact {
      margin-bottom: 10px;
      padding: 0 1%; } }
  .contact__box {
    width: 60%;
    margin: auto; }
    @media (max-width: 1100px) {
      .contact__box {
        width: 100%; } }
  .contact input {
    width: 45%;
    margin: 20px 10px;
    height: 35px;
    background-color: #efefef;
    border: black solid 1px; }
    @media (max-width: 607px) {
      .contact input {
        width: 100%;
        margin: 10px 0; } }
  .contact textarea {
    width: 94%;
    height: 95px;
    resize: none;
    background: #efefef;
    border: black solid 1px; }
    @media (max-width: 607px) {
      .contact textarea {
        width: 100%; } }
  .contact ::placeholder {
    padding: 17px;
    font-size: 17px;
    font-weight: normal; }
  .contact button {
    width: 95%;
    background: black;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    border: none; }
    .contact button a {
      text-decoration: none; }
      .contact button a:hover {
        color: gray; }
    @media (max-width: 950px) {
      .contact button {
        width: 100%; } }
    @media (max-width: 650px) {
      .contact button {
        width: 65%;
        padding: 16px; } }
  .contact__copyrighting {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }
    @media (max-width: 850px) {
      .contact__copyrighting {
        margin-top: 30px;
        position: relative;
        transform: none;
        left: auto; } }

.sliderFull__background {
  position: relative; }

.background img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 28%; }

.carousel-control-next {
  background: white;
  color: black;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%); }
  @media (max-width: 800px) {
    .carousel-control-next {
      height: 40px;
      width: 40px; } }
  @media (max-width: 400px) {
    .carousel-control-next {
      background-color: transparent; } }

.carousel-control-prev {
  background: white;
  color: black;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%); }
  @media (max-width: 800px) {
    .carousel-control-prev {
      height: 40px;
      width: 40px;
      z-index: 9999; } }
  @media (max-width: 400px) {
    .carousel-control-prev {
      background-color: transparent; } }

.carousel-control-next-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.slider {
  width: 95%;
  padding: 111px;
  background-image: url(../img/L.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (max-width: 860px) {
    .slider {
      padding: 61px; } }
  @media (max-width: 700px) {
    .slider {
      padding: 26px; } }
  @media (max-width: 500px) {
    .slider {
      padding: 12px;
      padding-bottom: 30px;
      padding-top: 30px; } }
  .slider .carousel {
    height: 100%;
    width: 81%;
    margin: auto; }
    @media (max-width: 450px) {
      .slider .carousel {
        width: 95%; } }
  .slider .carousel-inner {
    height: 100%; }
  .slider .carousel-item {
    height: 100%; }
  .slider img {
    height: 100%; }
  .slider .carousel-control-next {
    right: -106px; }
    @media (max-width: 860px) {
      .slider .carousel-control-next {
        height: 35px;
        width: 35px;
        right: 0;
        background: white; } }
    @media (max-width: 490px) {
      .slider .carousel-control-next {
        height: 24px;
        width: 27px; } }
  .slider .carousel-control-prev {
    left: -106px; }
    @media (max-width: 860px) {
      .slider .carousel-control-prev {
        height: 35px;
        width: 35px;
        left: 0;
        background: white; } }
    @media (max-width: 490px) {
      .slider .carousel-control-prev {
        height: 24px;
        width: 27px; } }

/*# sourceMappingURL=style.css.map */
