.about {
    @extend .cf;
    padding: 6% 3%;
    background-image: url(../img/P.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    &__box {
        width: 50%;
        float: left;
        &:nth-child(1) {
            width: 40%;
            @media (max-width: 850px) {
                display: none;
            }
        }
        
        &:nth-child(2) {
            padding-left: 46px;
            @media (max-width: 900px) {
                text-align: right;
            }
            @media (max-width: 850px) {
                width: 100%;
                text-align: center;
                padding-left: 0;
            }
            @media (max-width: 442px) {
                margin-bottom: 13px;
            }
        }
    }
    
    img {
        width: 95%;
    }
    
    h1 {
        &::before {
            content: "";
            margin-bottom: 2%;
            margin-right: 4%;
            display: inline-block;
            width: 70px;
            height: 1px;
            background-color: #111;
            @media (max-width: 1080px) {
                display: none;
            }
        }
    }
    
    &__socialMedia {
        @extend .cf;
        margin: auto;
        @media (max-width: 850px) {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            bottom: 0;
            
        }
    }
    
    &__socialMediaItem {
        position: relative;
        display: block;
        text-align: center;
        width: 4%;
        padding: 15px;
        float: left;
        margin: 10px;
        background-color: #909090;
        cursor: pointer;
        &:hover {
            background-color: black;
        }
        
                @media (max-width: 442px) {
                    margin: 5px;
                    padding: 12px;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}
