.contact {
    @extend .cf;
    padding: 6% 10%;
    background-image: url(../img/O.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    @media (max-width: 850px) {
        margin-bottom: 10px;
        padding: 0 1%;
    }
    
    &__box {
        width: 60%;
        margin: auto;
        @media (max-width: 1100px) {
            width: 100%;
        }
    }
    
    input {
        width: 45%;
        margin: 20px 10px;
        height: 35px;
        background-color: #efefef;
        border: black solid 1px;
        @media (max-width: 607px) {
            width: 100%;
            margin: 10px 0;
        }
    }
    
    textarea {
        width: 94%;
        height: 95px;
        resize: none;
        background: #efefef;
        border: black solid 1px;
        @media (max-width: 607px) {
            width: 100%;
        }
    }
    ::placeholder {
        padding: 17px;
        font-size: 17px;
        font-weight: normal;
    }
    
    button {
        width: 95%;
        background: black;
        margin-top: 20px;
        padding: 20px;
        font-size: 16px;
        border: none;
        a{
            text-decoration: none;
            &:hover {
                color: gray;
            }
        }
        
        @media (max-width: 950px) {
             width:  100%;
        }
        
        @media (max-width: 650px){
            width: 65%;
            padding: 16px;
        }
    }
    
    &__copyrighting {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        @media (max-width: 850px) {
            margin-top: 30px;
            position: relative;
            transform: none;
            left: auto;
        }
    }
}
