            .header {
                @extend .cf;
                padding: 1% 3%;
                padding-bottom: 0;
                background-image: url(../img/A2.png);
                background-position: left bottom;
                background-repeat: no-repeat;
                background-size: contain;
                @media (max-width: 950px) {
                    padding-bottom: 50px;
                }
                
                &__toggleButton {
                    position: relative;
                    float: right;
                    height: 40px;
                    width: 100px;
                    margin-right: 10px;
                    font-family: sans-serif;
                    cursor: pointer;
                    p {
                        width: 49%;
                        float: left;
                        font-style: normal;
                        font-family: sans-serif;
                    }
                }
                
                &__burger {
                    display: block;
                    width: 25%;
                    height: 2px;
                    margin: 2px;
                    background: black;
                    float: right;
                    margin-right: 14px;
                    &:nth-child(2) {
                        margin-top: 7px;
                    }
                }
                
                &__list {
                    width: 100px;
                    position: absolute;
                    right: 28px;
                    top: 65px;
                    text-align: center;
                    border: 1px solid rgba(17, 17, 17, 0.15);
                    padding-left: 0;
                    opacity: 0;
                    -webkit-transition: 1s;
                    transition: 1s;
                    &::before {
                        content: "";
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        left: 50%;
                        -webkit-transform: translate(-50%)rotate(45deg);
                        transform: translate(-50%)rotate(45deg);
                        top: -14px;
                        border-top: 1px solid rgba(17, 17, 17, 0.15);
                        border-left: 1px solid rgba(17, 17, 17, 0.15);
                        background: #e3e3e3;
                    }
                }
                
                li {
                    text-decoration: none;
                    display: block;
                    padding: 11px 0;
                    background-color: #e3e3e3;
                    overflow: hidden;
                    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
                    &:hover {
                        background: #dbdbdb;
                    }
                }
                
                a {
                    color: black;
                    font-size: 12px;
                    background-color: transparent;
                    text-decoration: none;
                }
                
                &__box {
                    float: left;
                    width: 50%;
                    padding-top: 6%;
                    z-index: 10;
                    @media (max-width: 950px) {
                        &:nth-child(4) {
                            display: none;
                        }
                        
                        &:nth-child(3) {
                            float: right;
                            text-align: right;
                            @media (max-width: 850px) {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                    
                    p {
                        padding-right: 26%;
                        margin-bottom: 10%;
                        @media (max-width: 950px) {
                            padding: 0;
                            margin: 0;
                        }
                        
                        &::after {
                            content: "";
                            margin-top: 6%;
                            display: block;
                            width: 1px;
                            height: 70px;
                            background-color: #111;
                            @media (max-width: 990px) {
                                display: none;
                            }
                        }
                    }
                    
                    h1 {
                        padding-top: 9%;
                        @media (max-width: 850px) {
                            padding-top: 0;
                        }
                    }
                    
                    img {
                        width: 100%;
                        margin-bottom: -4px;
                    }
                }
                
                .open {
                    opacity: 1;
                    -webkit-transition: 1s;
                    transition: 1s;
                }
            }
