.slider {
    width: 95%;
    padding: 111px;
    background-image: url(../img/L.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    @media(max-width: 860px) {
        padding: 61px;
    }
    
    @media(max-width: 700px){
    padding: 26px;
    }
    
    @media(max-width: 500px) {
        padding: 12px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    .carousel {
        height: 100%;
        width: 81%;
        margin: auto;
        @media(max-width: 450px) {
            width: 95%;
        }
    }
    
    .carousel-inner {
        height: 100%;
    }
    
    .carousel-item {
        height: 100%;
    }
    
    img {
        height: 100%;
    }
    
    .carousel-control-next {
        right: -106px;
        @media(max-width: 860px) {
            height: 35px;
            width: 35px;
            right: 0;
            background: white;
        }
        
        @media(max-width: 490px) {
            height: 24px;
            width: 27px
        }
    }
    
    .carousel-control-prev {
        left: -106px;
        @media(max-width: 860px) {
            height: 35px;
            width: 35px;
            left: 0;
            background: white;
        }
        
        @media(max-width: 490px) {
            height: 24px;
            width: 27px
        }
    }
}
